.btnSort {
  background-color: white;
}
#inputDate {
  width: 200px;
  height: 37.6px;
  padding-left: 20px;
}
#searchOrder {
  width: 200px;
  height: 37.6px;
}
body {
  background-color: #e8eaed;
}
